*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}

/*Regole Header*/

header{
    height:300px;

    /*DEBUG*/
    background-color: blue;
}

.header_conteiner{
    height:10%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:5px 0;
    margin-bottom:30px;

    /*DEBUG*/
    background-color:rgb(0, 238, 255);
}

.info_flex{

    /*DEBUG*/
    background-color:gold;
    border: 1px dashed black;
}

#logo{
    width:15%;
}

#accedi{
    width:15%;
}

#menu{
    width:30%;
}

.presentazione{
    width:50%;
    margin: 0 auto;

    /*DEBUG*/
    height:70%;
    background-color: violet;

}

/*Regole Main*/

.modello{
    width:60%;
    margin:0 auto;
    padding-bottom:20px;
    padding-top:20px;
}

.contenitore{

    display:flex;
    justify-content:center;

    /*DEBUG*/
    height:300px;
}

.grigia{
    background-color:lightgray;
}

.immagine{
    width:60%;

    /*DEBUG*/
    background-color:lightseagreen;

}

.testo{
    width:40%;
    background-color: pink;

}

.tecnologia{
       

    /*DEBUD*/
    background-color: darkgreen;
    height:500px;
}

.spazio{
    padding-bottom:20px;
    padding-top:20px;
}


/*Regole Header*/

.parlare{
    width:30%;

    /*DEBUD*/
    background-color: rgb(255, 192, 203);
}

.menu_conteiner{

    display:flex;
    width:70%;

    /*DEBUG*/
    background-color: rgb(72, 230, 230);

}

.elenco{
    width:25%;

    /*DEBUG*/
    border: 1px solid white;
}

.nera{
    /*DEBUG*/
    background-color: black;
}

.footer_conteiner{

    display:flex;
    justify-content:space-between;
    
    /*DEBUG*/
    height:100px;
    background-color:aqua;
}

.elemento_footer{

    /*DEBUG*/
    width:10%;
    background-color: yellow;
}

