*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}

/*Regole Header*/

header{
    height:300px;

    /*DEBUG*/
    background-color: blue;
}

.header_conteiner{
    height:10%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:5px 0;
    margin-bottom:30px;

    /*DEBUG*/
    background-color:rgb(0, 238, 255);
}

.info_flex{

    /*DEBUG*/
    background-color:gold;
    border: 1px dashed black;
}

#logo{
    width:15%;
}

#accedi{
    width:15%;
}

#menu{
    width:30%;
}

.presentazione{
    width:50%;
    margin: 0 auto;

    /*DEBUG*/
    height:70%;
    background-color: violet;

}

/*Regole Main*/

.tipo1, .tipo2{

    margin:0 auto;
    display:flex;
    justify-content:center;
    padding:20px;

    /*DEBUG*/
    height:300px;
}

.grigia{
    background-color:lightgray;
}

.immagine{
    width:37%;

    /*DEBUG*/
    background-color:lightseagreen;

}

.testo{
    width:23%;
    background-color: pink;

}